In [ ]:
import findspark
findspark.init()
findspark.find()

import pyspark
from pyspark.sql import SparkSession,Window
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
spark = SparkSession.builder.appName("Window Functions").master("local[3]").getOrCreate()

In [ ]:
#-------------------------------------------------------------------------

simpleData = [
    ("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
]
 
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData,schema=columns)
df.printSchema()
df.show(truncate=False)

#-------------------------------------------------------------------------

In [ ]:
#-------------------------------------------------------------------------

# row_number()

window = Window.partitionBy("department").orderBy("salary")

df1 = df.withColumn("row_num", row_number().over(window))
df1.show()

#-------------------------------------------------------------------------

In [ ]:
#-------------------------------------------------------------------------

# rank()

window = Window.partitionBy("department").orderBy("salary")

df1 = df.withColumn("rank", rank().over(window))
df1.show()

#-------------------------------------------------------------------------

In [ ]:
#-------------------------------------------------------------------------

# dense_rank()

window = Window.partitionBy("department").orderBy(col("salary").desc())

df1 = df.withColumn("dense_rank", dense_rank().over(window))
df1.show()

#-------------------------------------------------------------------------

In [ ]:
#-------------------------------------------------------------------------

# lag()

window = Window.partitionBy("department").orderBy("salary")

df1 = df.withColumn("lag", lag("salary", 2).over(window))
df1.show()

#-------------------------------------------------------------------------

In [ ]:
#-------------------------------------------------------------------------

# lead()

window = Window.partitionBy("department").orderBy("salary")

df1 = df.withColumn("lead", lead("salary", 2).over(window))
df1.show()

#-------------------------------------------------------------------------

In [ ]:
#-------------------------------------------------------------------------

# window aggregate functions

window = Window.partitionBy("department")

df1 = df.withColumn("max_salary", max(col("salary")).over(window)).withColumn("min_salary", min(col("salary")).over(window))
df1.show()

#-------------------------------------------------------------------------